<ion-header>
  <ion-toolbar color="primary">
    <ion-title>GPE APP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Nossa História:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>O grupo Pró-Estudar surgiu em 2012, com o fundador Nelson Campos e amigos na época, todos estudantes da Escola
        Municipal Adelino Bordignon.</p>
      <p> O intuito era reunir o que cada pessoa possuía de conhecimento para ser compartilhado com os demais, atuando
        como um “reforço escolar”, a fim de se preparar melhor para o vestibular.</p>
      <p>Os anos passaram, por motivos pessoais, o então diretor e fundador se afastou, passando a responsabilidade para
        a nova gestão, liderada pelos voluntários Murillo Pinotti (Diretor-Geral) e Carlos Henrique Moris (Vice-Diretor)
        em 2018.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary"> 
    <ion-card-header>
      <ion-card-title>Local:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Não temos vínculo com nenhuma instituição.</p>
      <p>Gentilmente a Escola Adelino Bordignon nos cedeu o prédio para que possamos realizar as aulas do cursinho.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary"> 
    <ion-card-header>
      <ion-card-title>Contatos:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="clear" color="warning" href="https://www.facebook.com/gproestudar/">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="warning" href="mailto:grupoproestudar@gmail.com" target="_self"
        data-content="grupoproestudar@gmail.com" data-type="mail">
        <ion-icon slot="icon-only" name="mail"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="warning" href="https://grupoproestudar4.wixsite.com/proestudar/">
        <ion-icon slot="icon-only" name="globe"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>